* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body {
    background-color: dimgray;
    font-family: sans-serif;
}

nav {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
    text-align: center;

}

nav ul {
    list-style-type: none;
    display: flex;
    border: 1px solid black;
}

nav ul li {
    flex: 1 1 auto;
    position: relative;
    background-color: beige;
    border-color: black;
}


nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}

.sous {
    width: 100%;
    z-index: 1000;
    position: absolute;
    display: none;
    box-shadow: 0px 1px 2px #CCC;
}

nav > ul li:hover .sous {
    display: flex;
    flex-flow: column wrap;
}

.sous li {
    flex: 1 1 auto;
    text-align: center;
}

.sous a {
    padding: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

.sous a:hover {
    background-color: coral;
}

.deroulant > a::after {
    content: " ▼";
    font-size: 12px;
}

#selected_language {
    font-size: 17px ;
    color: beige;
}
